//Color Variables
$background-primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
  }
}


body {
  margin: 0px;
  padding: 0px;
  background-color: $background-primary-color;
  font-family: $font-stack;
}
nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  p {
    color: $primary-text-color;
    font-weight: bold;
  }

  .icons {
    display: flex;
    gap: 1px;
    @include buttonStyle();
  }
}

.main-section {
  color: $primary-text-color;

  article {
    display: flex;
    padding: 0 15px;

    @media (max-width: 768px) {
      // Cuando la pantalla tiene 768px o menos
      flex-direction: column-reverse;
      align-items: center;
    }
    @include buttonStyle();
    button {
      $bg-color: #fa9500;
      background-color: $bg-color;
      color: white;
      border-radius: 35px;
      width: 250px;
      height: 70px;
      font-weight: bold;
      font-size: 23px;

      @media (max-width: 768px) {
        // Cuando la pantalla tiene 768px o menos
        width: 150px;
        height: 50px;
        font-size: 18px;

        align-items: center;
      }
    }
    img {
      width: 50vh;
      border-radius: 19px;
    }

    h1 {
      font-size: 60px; // Tamaño por defecto para desktop

      @media (max-width: 768px) {
        // Cuando la pantalla tiene 768px o menos
        font-size: 28px; // Cambiamos el tamaño para móvil
      }
    }

    p {
      font-size: 25px; // Tamaño por defecto para desktop

      @media (max-width: 768px) {
        // Cuando la pantalla tiene 768px o menos
        font-size: 15px; // Cambiamos el tamaño para móvil
      }
    }
  }
}

.cuidados {
  .cards-section {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .card {
    width: 50vw;
    color: white;
    background-color: $tertiary-color;
    padding: 0 20px 20px 20px;
    .icon-container {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
    }
    img {
      width: 132px;
      border-radius: 6px;
    }
  }
}

.furnite {
  @extend .cuidados;

  .card{
    background-color: $secundary-color;
  }
}

footer {
  $bg-color: #fa9500;
  background-color: $bg-color;
  width: 100%;
  height: 250px;
}
