//Color Variables
$background-primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

body {
  margin: 0;
  padding: 0;
}
